{% extends 'tiendaapp/base.html' %}
{% load static %}

{% block contenidoPagina %}
<section class="bg-light py-5">
  <div class="container px-5">
      <h1>Nuestros Productos:</h1>
      <br>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-12">
              <form class="d-flex my-2 my-lg-0" action="" method="post">
                  {% csrf_token %}
                  <input class="flex-grow-0 form-control mr-sm-2" type="search" name="search" placeholder="Buscar por marca/tipo/talle/precio" aria-label="Search">
                  <button class="btn btn-outline-success text-nowrap ms-3 my-2 my-sm-0" type="submit"> <i class="bi bi-search"></i> Buscar</button>
                  {% if user.is_staff %}
                      <a class="btn btn-outline-success text-nowrap ms-3 my-2 my-sm-0" href="{% url 'crear_casco'%}"> <i class="bi bi-plus-lg"></i> agregar casco</a>
                  {% endif %}
              </form>
          </div>
      </div>
      <br>
      <h4>Cascos
          {% if search %}
              para "{{busqueda}}":
          {% else %}
          en Stock:
          {% endif %}
      </h4>
      <br>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-20 table-responsive">
              <table class="table table-theme">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">marca</th>
                          <th scope="col">tipo</th>
                          <th scope="col">talle</th>
                          <th scope="col">precio</th>

                          {% if user.is_staff %}
                              <th scope="col">Acciones</th>
                          {% endif %}
                      </tr>
                  </thead>
                  <tbody>
                      
                      {% for casco in cascos %}
                          <tr>
                              <th scope="row">{{forloop.counter}}</th>
                              <td>{{casco.marca}}</td>
                              <td>{{casco.tipo}}</td>
                              <td>{{casco.talle}}</td>
                              <td>{{casco.precio}}</td>
                              <td>
                                  {% if user.is_staff %}
                                      <a href="{% url 'editar_casco' casco.id %}" class="text-primary badge badge-primary text-decoration-none"> <i class="bi bi-pencil-square"></i> Editar</a>
                                      <a href="{% url 'eliminar_casco' casco.id %}" class="text-danger badge badge-danger text-decoration-none"> <i class="bi bi-x-square"></i> Eliminar</a>
                                  {% endif %}
                                  <a href="{% url 'ver_producto' %}" class="text-danger badge badge-danger text-decoration-none"> <i class="bi bi-cart4"></i> comprar</a>
                              </td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</section>
{% endblock %}


