{% extends 'tiendaapp/base.html' %}
{% load static %}

{% block tituloPagina %}
Nuestra Historia
{% endblock %}



{% block contenidoPagina %}
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">Nos Caracteriza nuestra Calidad internacional, fabricación Nacional
        Con más de 12 años de experiencia en la industria de cascos, Bolsos, Accesorios, repuestos de todo tipo Overdrive
        sigue mejorando para satisfacer las necesidades del mercado con productos de calidad aprobados con CHAS 
        (Certificado de Homologación de Autopartes y Elementos de Seguridad) y normas IRAM. Tenemos el objetivo 
        de cumplir con las necesidades de los usuarios más exigentes a través del desarrollo de productos de diseño y 
        vanguardia. Todas las fases del ciclo productivo de los todos nuestros productos se gestionan y desarrollan dentro de la 
        empresa, desde la entrada de las materias primas, hasta el control final del producto y su distribución, 
        todo depende de Overdrive. La evolución constante de todas las tecnologías de producción y la calidad de los productos
         es un objetivo de todos los días para nosotros.</p>
    </div>
</div>

        
{% endblock %}
