{% extends 'tiendaapp/base.html' %}
{% load static %}

{% block tituloPagina %}
Registro
{% endblock %}

{% block contenidoPagina %}
<div class="container d-flex justify-content-center">
    <div class="row my-5">
      <div class="col-md-6 text-left text-black lcol">
        <div class="greeting"><h3>BIENVENIDOS A OVERDRIVE<span class="txt"></span></h3></div>
        <h6 class="mt-3">Registrate para poder continuar rodando...</h6>
        <div class="footer">

        </div>
      </div>
      <div class="col-md-6 rcol">
        <h2 class="heading mb-4">Registrate</h2>   
            <form action=""method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit"class="btn btn-success mt-5">Registrarse </button>
            </form>
      </div>
    </div>
</div>
{% endblock %}